# Importing dataset

1: Import data from a flat file

In [1]:
import pandas as pd

In [2]:
covid = pd.read_csv('COVID-19 Coronavirus.csv')

In [3]:
covid.head(5)

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
0,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
1,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
2,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
3,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
4,Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438

# Preparation

1: Create pandas DataFrame

In [4]:
import pandas as pd 
from pandas import DataFrame #pandas DataFrame

In [5]:
covid = pd.read_csv('COVID-19 Coronavirus.csv')

In [6]:
covid.head(10)

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
0,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
1,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
2,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
3,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
4,Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438
5,Anguilla,Anguilla,AIA,15237,Latin America and the Caribbean,2700,9,177200,591,0.333333
6,Antigua and Barbuda,Antigua and Barbuda,ATG,99348,Latin America and the Caribbean,7493,135,75422,1359,1.801682
7,Argentina,Argentina,ARG,45921761,Latin America and the Caribbean,9041124,128065,196881,2789,1.416472
8,Armenia,Armenia,ARM,2972939,Asia,422574,8617,142140,2898,2.039169
9,Aruba,Aruba,ABW,107560,Latin America and the Caribbean,34051,212,316577,1971,0.622596

2: Sorting, indexing, grouping

In [7]:
covid.sort_values('Population', ascending=False) #sorting by population in decending order

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
42,China,China,CHN,1439323776,Asia,154738,4638,108,3,2.997325
92,India,India,IND,1403754381,Asia,43029044,521388,30653,371,1.211712
214,USA,United States of America,USA,334400597,Northern America,81839052,1008222,244734,3015,1.231957
93,Indonesia,Indonesia,IDN,278586508,Asia,6019981,155288,21609,557,2.579543
152,Pakistan,Pakistan,PAK,228397520,Asia,1525466,30361,6679,133,1.990277
...,...,...,...,...,...,...,...,...,...,...
172,Saint Pierre Miquelon,Saint Pierre and Miquelon,SPM,5744,Northern America,1957,1,340703,174,0.051099
136,Montserrat,Montserrat,MSR,4997,Latin America and the Caribbean,175,2,35021,400,1.142857
67,Falkland Islands,Falkland Islands (Malvinas),FLK,3657,Latin America and the Caribbean,123,0,33634,0,0.000000
148,Niue,Niue,NIU,1645,Oceania,7,0,4255,0,0.000000
217,Vatican City,Holy See,VAT,805,Europe,29,0,36025,0,0.000000

In [8]:
covid.set_index('Country', inplace=True) #indexing by country name

In [9]:
covid.head(10)

,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
Country,,,,,,,,,
Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438
Anguilla,Anguilla,AIA,15237,Latin America and the Caribbean,2700,9,177200,591,0.333333
Antigua and Barbuda,Antigua and Barbuda,ATG,99348,Latin America and the Caribbean,7493,135,75422,1359,1.801682
Argentina,Argentina,ARG,45921761,Latin America and the Caribbean,9041124,128065,196881,2789,1.416472
Armenia,Armenia,ARM,2972939,Asia,422574,8617,142140,2898,2.039169
Aruba,Aruba,ABW,107560,Latin America and the Caribbean,34051,212,316577,1971,0.622596

In [10]:
covid.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       ...
       'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=225)

In [11]:
covid.loc['Ireland']

Other names                 Ireland
ISO 3166-1 alpha-3 CODE         IRL
Population                  5034333
Continent                    Europe
Total Cases                 1471210
Total Deaths                   6786
Tot Cases//1M pop            292235
Tot Deaths/1M pop              1348
Death percentage           0.461253
Name: Ireland, dtype: object

In [12]:
covid.loc['Ireland']['Total Cases']

1471210

In [13]:
Laptop = pd.read_csv('Cleaned_Laptop_data.csv') #grouping by brand and processor_brand of Laptop for max latest_price

In [14]:
Laptop.head(10)

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,15.6,1,No,No,23990,26990,11,3.8,15279,1947
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,15.6,1,No,No,37990,50990,25,4.3,990,108
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,14.1,1,No,No,32890,46990,30,3.9,28,4
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,15.6,1,No,Yes,42990,57330,25,4.4,158,18
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,15.6,0,No,No,54990,70171,21,4.2,116,15
5,Lenovo,IdeaPad,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,15.6,1,No,Yes,35990,57290,37,4.0,2124,233
6,HP,15s,AMD,Ryzen 3,Missing,8,DDR4,256,1024,Windows,...,15.6,1,No,Yes,41999,48294,13,4.3,3524,432
7,ASUS,Core,Intel,Core i3,11th,4,DDR4,256,0,Windows,...,14,0,No,No,34429,49990,31,4.1,37,6
8,DELL,Vostro,Intel,Core i3,10th,8,DDR4,256,1024,Windows,...,15.6,1,No,Yes,41490,54782,24,5.0,7,5
9,Lenovo,IdeaPad,Intel,Core i3,10th,8,DDR4,256,0,Windows,...,15.6,2,No,Yes,37990,57990,34,4.3,2080,235

In [15]:
Laptop.head(20).groupby(['brand', 'processor_brand'])['latest_price'].agg([min, max])

                          min    max
brand  processor_brand
APPLE  Apple            85990  85990
ASUS   Intel            23990  37990
DELL   AMD              35990  35990
       Intel            41490  41490
HP     AMD              37990  57990
       Intel            39990  67990
Lenovo Intel            35990  52990

3: Drop duplicates, replace missing values

In [16]:
India = pd.read_csv('Indian Summers - Over the years.csv') #replace missing values with mean and backfill

In [17]:
India.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13650 entries, 0 to 13649
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   City              13650 non-null  object
 1   Date              13650 non-null  object
 2   tempmax           13615 non-null  float64
 3   tempmin           13615 non-null  float64
 4   temp              13605 non-null  float64
 5   feelslikemax      13614 non-null  float64
 6   feelslikemin      13614 non-null  float64
 7   feelslike         13604 non-null  float64
 8   dew               13605 non-null  float64
 9   humidity          13605 non-null  float64
 10  windspeed         13605 non-null  float64
 11  winddir           13600 non-null  float64
 12  sealevelpressure  10631 non-null  float64
 13  cloudcover        13605 non-null  float64
 14  visibility        13605 non-null  float64
 15  sunrise           13650 non-null  object
 16  sunset            13650 non-null  object
 17  moonphase         13650 non-null  float64
 18  conditions        13605 non-null  object
 19  description       13605 non-null  object
dtypes: float64(14), object(6)
memory usage: 2.1+ MB

In [18]:
India.isna().sum()

City                   0
Date                   0
tempmax               35
tempmin               35
temp                  45
feelslikemax          36
feelslikemin          36
feelslike             46
dew                   45
humidity              45
windspeed             45
winddir               50
sealevelpressure    3019
cloudcover            45
visibility            45
sunrise                0
sunset                 0
moonphase              0
conditions            45
description           45
dtype: int64

In [19]:
India_missing=India.fillna(India.mean()).fillna(method="bfill")
India_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13650 entries, 0 to 13649
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   City              13650 non-null  object
 1   Date              13650 non-null  object
 2   tempmax           13650 non-null  float64
 3   tempmin           13650 non-null  float64
 4   temp              13650 non-null  float64
 5   feelslikemax      13650 non-null  float64
 6   feelslikemin      13650 non-null  float64
 7   feelslike         13650 non-null  float64
 8   dew               13650 non-null  float64
 9   humidity          13650 non-null  float64
 10  windspeed         13650 non-null  float64
 11  winddir           13650 non-null  float64
 12  sealevelpressure  13650 non-null  float64
 13  cloudcover        13650 non-null  float64
 14  visibility        13650 non-null  float64
 15  sunrise           13650 non-null  object
 16  sunset            13650 non-null  object
 17  moonphase         13650 non-null  float64
 18  conditions        13650 non-null  object
 19  description       13650 non-null  object
dtypes: float64(14), object(6)
memory usage: 2.1+ MB

In [20]:
India_missing.isna().sum()

City                0
Date                0
tempmax             0
tempmin             0
temp                0
feelslikemax        0
feelslikemin        0
feelslike           0
dew                 0
humidity            0
windspeed           0
winddir             0
sealevelpressure    0
cloudcover          0
visibility          0
sunrise             0
sunset              0
moonphase           0
conditions          0
description         0
dtype: int64

In [21]:
India.shape # droped rows where City & Date column combined had duplicates

(13650, 20)

In [22]:
India_duplicate=India.drop_duplicates(subset=["City", "Date"])

In [23]:
India_duplicate.shape

(13559, 20)

4: Merge DataFrames

In [24]:
import pandas as pd #merged two seperate file of Game of Thrones Episodes and Ratings using merge function. 
GOT1 = pd.read_csv('game_of_thrones_episodes.csv')
GOT1

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,us_viewers
0,1,1,1,Winter Is Coming,Tim Van Patten,David Benioff & D. B. Weiss,2011-04-17,2220000.0
1,1,2,2,The Kingsroad,Tim Van Patten,David Benioff & D. B. Weiss,2011-04-24,2200000.0
2,1,3,3,Lord Snow,Brian Kirk,David Benioff & D. B. Weiss,2011-05-01,2440000.0
3,1,4,4,"Cripples, Bastards, and Broken Things",Brian Kirk,Bryan Cogman,2011-05-08,2450000.0
4,1,5,5,The Wolf and the Lion,Brian Kirk,David Benioff & D. B. Weiss,2011-05-15,2580000.0
...,...,...,...,...,...,...,...,...
68,8,2,69,A Knight of the Seven Kingdoms,David Nutter,Bryan Cogman,2019-04-21,10290000.0
69,8,3,70,The Long Night,Miguel Sapochnik,David Benioff & D. B. Weiss,2019-04-28,12020000.0
70,8,4,71,The Last of the Starks,David Nutter,David Benioff & D. B. Weiss,2019-05-05,11800000.0
71,8,5,72,The Bells,Miguel Sapochnik,David Benioff & D. B. Weiss,2019-05-12,12480000.0
72,8,6,73,The Iron Throne,David Benioff & D. B. Weiss,David Benioff & D. B. Weiss,2019-05-19,13610000.0

In [25]:
GOT2 = pd.read_csv('game_of_thrones_imdb.csv')
GOT2

,season,episode_num,title,original_air_date,imdb_rating,total_votes,desc
0,1,1,Winter Is Coming,17 Apr. 2011,9.0,46180,Eddard Stark is torn between his family and an...
1,1,2,The Kingsroad,24 Apr. 2011,8.6,35052,"While Bran recovers from his fall, Ned takes o..."
2,1,3,Lord Snow,1 May 2011,8.5,33200,Jon begins his training with the Night's Watch...
3,1,4,"Cripples, Bastards, and Broken Things",8 May 2011,8.6,31558,Eddard investigates Jon Arryn's murder. Jon be...
4,1,5,The Wolf and the Lion,15 May 2011,9.0,32818,Catelyn has captured Tyrion and plans to bring...
...,...,...,...,...,...,...,...
68,8,2,A Knight of the Seven Kingdoms,21 Apr. 2019,7.9,128712,Jaime faces judgment and Winterfell prepares f...
69,8,3,The Long Night,28 Apr. 2019,7.5,212837,The Night King and his army have arrived at Wi...
70,8,4,The Last of the Starks,5 May 2019,5.5,162708,The Battle of Winterfell is over and a new cha...
71,8,5,The Bells,12 May 2019,6.0,189615,Forces have arrived at King's Landing for the ...
72,8,6,The Iron Throne,19 May 2019,4.1,242548,In the aftermath of the devastating attack on ...

In [26]:
GOT=GOT1.merge(GOT2,left_on="title", right_on="title",how="inner")
GOT

,season_x,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date_x,us_viewers,season_y,episode_num,original_air_date_y,imdb_rating,total_votes,desc
0,1,1,1,Winter Is Coming,Tim Van Patten,David Benioff & D. B. Weiss,2011-04-17,2220000.0,1,1,17 Apr. 2011,9.0,46180,Eddard Stark is torn between his family and an...
1,1,2,2,The Kingsroad,Tim Van Patten,David Benioff & D. B. Weiss,2011-04-24,2200000.0,1,2,24 Apr. 2011,8.6,35052,"While Bran recovers from his fall, Ned takes o..."
2,1,3,3,Lord Snow,Brian Kirk,David Benioff & D. B. Weiss,2011-05-01,2440000.0,1,3,1 May 2011,8.5,33200,Jon begins his training with the Night's Watch...
3,1,4,4,"Cripples, Bastards, and Broken Things",Brian Kirk,Bryan Cogman,2011-05-08,2450000.0,1,4,8 May 2011,8.6,31558,Eddard investigates Jon Arryn's murder. Jon be...
4,1,5,5,The Wolf and the Lion,Brian Kirk,David Benioff & D. B. Weiss,2011-05-15,2580000.0,1,5,15 May 2011,9.0,32818,Catelyn has captured Tyrion and plans to bring...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,8,2,69,A Knight of the Seven Kingdoms,David Nutter,Bryan Cogman,2019-04-21,10290000.0,8,2,21 Apr. 2019,7.9,128712,Jaime faces judgment and Winterfell prepares f...
69,8,3,70,The Long Night,Miguel Sapochnik,David Benioff & D. B. Weiss,2019-04-28,12020000.0,8,3,28 Apr. 2019,7.5,212837,The Night King and his army have arrived at Wi...
70,8,4,71,The Last of the Starks,David Nutter,David Benioff & D. B. Weiss,2019-05-05,11800000.0,8,4,5 May 2019,5.5,162708,The Battle of Winterfell is over and a new cha...
71,8,5,72,The Bells,Miguel Sapochnik,David Benioff & D. B. Weiss,2019-05-12,12480000.0,8,5,12 May 2019,6.0,189615,Forces have arrived at King's Landing for the ...
72,8,6,73,The Iron Throne,David Benioff & D. B. Weiss,David Benioff & D. B. Weiss,2019-05-19,13610000.0,8,6,19 May 2019,4.1,242548,In the aftermath of the devastating attack on ...

In [27]:
GOT.drop((['original_air_date_y','season_y']),axis=1) #dropped repeated column using drop function.

,season_x,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date_x,us_viewers,episode_num,imdb_rating,total_votes,desc
0,1,1,1,Winter Is Coming,Tim Van Patten,David Benioff & D. B. Weiss,2011-04-17,2220000.0,1,9.0,46180,Eddard Stark is torn between his family and an...
1,1,2,2,The Kingsroad,Tim Van Patten,David Benioff & D. B. Weiss,2011-04-24,2200000.0,2,8.6,35052,"While Bran recovers from his fall, Ned takes o..."
2,1,3,3,Lord Snow,Brian Kirk,David Benioff & D. B. Weiss,2011-05-01,2440000.0,3,8.5,33200,Jon begins his training with the Night's Watch...
3,1,4,4,"Cripples, Bastards, and Broken Things",Brian Kirk,Bryan Cogman,2011-05-08,2450000.0,4,8.6,31558,Eddard investigates Jon Arryn's murder. Jon be...
4,1,5,5,The Wolf and the Lion,Brian Kirk,David Benioff & D. B. Weiss,2011-05-15,2580000.0,5,9.0,32818,Catelyn has captured Tyrion and plans to bring...
...,...,...,...,...,...,...,...,...,...,...,...,...
68,8,2,69,A Knight of the Seven Kingdoms,David Nutter,Bryan Cogman,2019-04-21,10290000.0,2,7.9,128712,Jaime faces judgment and Winterfell prepares f...
69,8,3,70,The Long Night,Miguel Sapochnik,David Benioff & D. B. Weiss,2019-04-28,12020000.0,3,7.5,212837,The Night King and his army have arrived at Wi...
70,8,4,71,The Last of the Starks,David Nutter,David Benioff & D. B. Weiss,2019-05-05,11800000.0,4,5.5,162708,The Battle of Winterfell is over and a new cha...
71,8,5,72,The Bells,Miguel Sapochnik,David Benioff & D. B. Weiss,2019-05-12,12480000.0,5,6.0,189615,Forces have arrived at King's Landing for the ...
72,8,6,73,The Iron Throne,David Benioff & D. B. Weiss,David Benioff & D. B. Weiss,2019-05-19,13610000.0,6,4.1,242548,In the aftermath of the devastating attack on ...