# Importing dataset

1: Import data from a flat file

In [1]:
import pandas as pd

In [2]:
covid = pd.read_csv('COVID-19 Coronavirus.csv')

In [3]:
covid.head(5)

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
0,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
1,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
2,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
3,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
4,Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438

# Preparation

1: Create pandas DataFrame

In [4]:
import pandas as pd 
from pandas import DataFrame #pandas DataFrame

In [5]:
covid = pd.read_csv('COVID-19 Coronavirus.csv')

In [6]:
covid.head(10)

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
0,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
1,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
2,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
3,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
4,Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438
5,Anguilla,Anguilla,AIA,15237,Latin America and the Caribbean,2700,9,177200,591,0.333333
6,Antigua and Barbuda,Antigua and Barbuda,ATG,99348,Latin America and the Caribbean,7493,135,75422,1359,1.801682
7,Argentina,Argentina,ARG,45921761,Latin America and the Caribbean,9041124,128065,196881,2789,1.416472
8,Armenia,Armenia,ARM,2972939,Asia,422574,8617,142140,2898,2.039169
9,Aruba,Aruba,ABW,107560,Latin America and the Caribbean,34051,212,316577,1971,0.622596

2: Sorting, indexing, grouping

In [7]:
covid.sort_values('Population', ascending=False) #sorting by population in decending order

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
42,China,China,CHN,1439323776,Asia,154738,4638,108,3,2.997325
92,India,India,IND,1403754381,Asia,43029044,521388,30653,371,1.211712
214,USA,United States of America,USA,334400597,Northern America,81839052,1008222,244734,3015,1.231957
93,Indonesia,Indonesia,IDN,278586508,Asia,6019981,155288,21609,557,2.579543
152,Pakistan,Pakistan,PAK,228397520,Asia,1525466,30361,6679,133,1.990277
...,...,...,...,...,...,...,...,...,...,...
172,Saint Pierre Miquelon,Saint Pierre and Miquelon,SPM,5744,Northern America,1957,1,340703,174,0.051099
136,Montserrat,Montserrat,MSR,4997,Latin America and the Caribbean,175,2,35021,400,1.142857
67,Falkland Islands,Falkland Islands (Malvinas),FLK,3657,Latin America and the Caribbean,123,0,33634,0,0.000000
148,Niue,Niue,NIU,1645,Oceania,7,0,4255,0,0.000000
217,Vatican City,Holy See,VAT,805,Europe,29,0,36025,0,0.000000

In [8]:
covid.set_index('Country', inplace=True) #indexing by country name

In [9]:
covid.head(10)

,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
Country,,,,,,,,,
Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438
Anguilla,Anguilla,AIA,15237,Latin America and the Caribbean,2700,9,177200,591,0.333333
Antigua and Barbuda,Antigua and Barbuda,ATG,99348,Latin America and the Caribbean,7493,135,75422,1359,1.801682
Argentina,Argentina,ARG,45921761,Latin America and the Caribbean,9041124,128065,196881,2789,1.416472
Armenia,Armenia,ARM,2972939,Asia,422574,8617,142140,2898,2.039169
Aruba,Aruba,ABW,107560,Latin America and the Caribbean,34051,212,316577,1971,0.622596

In [10]:
covid.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       ...
       'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=225)

In [11]:
covid.loc['Ireland']

Other names                 Ireland
ISO 3166-1 alpha-3 CODE         IRL
Population                  5034333
Continent                    Europe
Total Cases                 1471210
Total Deaths                   6786
Tot Cases//1M pop            292235
Tot Deaths/1M pop              1348
Death percentage           0.461253
Name: Ireland, dtype: object

In [12]:
covid.loc['Ireland']['Total Cases']

1471210

In [13]:
student = pd.read_csv('StudentPerformance.csv') #grouping by gender and race/ethnicity of studnet for max math score

In [14]:
student.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [15]:
student.groupby(['gender', 'race/ethnicity'])['math score'].max()

gender  race/ethnicity
female  group A            92
        group B            97
        group C            96
        group D            98
        group E           100
male    group A           100
        group B            94
        group C            98
        group D           100
        group E           100
Name: math score, dtype: int64