# Importing dataset

1: Import data from a flat file

In [1]:
import pandas as pd

In [2]:
covid = pd.read_csv('COVID-19 Coronavirus.csv')

In [3]:
covid.head(5)

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
0,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
1,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
2,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
3,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
4,Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438

# Preparation

1: Create pandas DataFrame

In [4]:
import pandas as pd 
from pandas import DataFrame #pandas DataFrame

In [5]:
covid = pd.read_csv('COVID-19 Coronavirus.csv')

In [6]:
covid.head(10)

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
0,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
1,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
2,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
3,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
4,Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438
5,Anguilla,Anguilla,AIA,15237,Latin America and the Caribbean,2700,9,177200,591,0.333333
6,Antigua and Barbuda,Antigua and Barbuda,ATG,99348,Latin America and the Caribbean,7493,135,75422,1359,1.801682
7,Argentina,Argentina,ARG,45921761,Latin America and the Caribbean,9041124,128065,196881,2789,1.416472
8,Armenia,Armenia,ARM,2972939,Asia,422574,8617,142140,2898,2.039169
9,Aruba,Aruba,ABW,107560,Latin America and the Caribbean,34051,212,316577,1971,0.622596

2: Sorting, indexing, grouping

In [7]:
covid.sort_values('Population', ascending=False) #sorting by population in decending order

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
42,China,China,CHN,1439323776,Asia,154738,4638,108,3,2.997325
92,India,India,IND,1403754381,Asia,43029044,521388,30653,371,1.211712
214,USA,United States of America,USA,334400597,Northern America,81839052,1008222,244734,3015,1.231957
93,Indonesia,Indonesia,IDN,278586508,Asia,6019981,155288,21609,557,2.579543
152,Pakistan,Pakistan,PAK,228397520,Asia,1525466,30361,6679,133,1.990277
...,...,...,...,...,...,...,...,...,...,...
172,Saint Pierre Miquelon,Saint Pierre and Miquelon,SPM,5744,Northern America,1957,1,340703,174,0.051099
136,Montserrat,Montserrat,MSR,4997,Latin America and the Caribbean,175,2,35021,400,1.142857
67,Falkland Islands,Falkland Islands (Malvinas),FLK,3657,Latin America and the Caribbean,123,0,33634,0,0.000000
148,Niue,Niue,NIU,1645,Oceania,7,0,4255,0,0.000000
217,Vatican City,Holy See,VAT,805,Europe,29,0,36025,0,0.000000

In [8]:
covid.set_index('Country', inplace=True) #indexing by country name

In [9]:
covid.head(10)

,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
Country,,,,,,,,,
Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438
Anguilla,Anguilla,AIA,15237,Latin America and the Caribbean,2700,9,177200,591,0.333333
Antigua and Barbuda,Antigua and Barbuda,ATG,99348,Latin America and the Caribbean,7493,135,75422,1359,1.801682
Argentina,Argentina,ARG,45921761,Latin America and the Caribbean,9041124,128065,196881,2789,1.416472
Armenia,Armenia,ARM,2972939,Asia,422574,8617,142140,2898,2.039169
Aruba,Aruba,ABW,107560,Latin America and the Caribbean,34051,212,316577,1971,0.622596

In [10]:
covid.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       ...
       'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=225)

In [11]:
covid.loc['Ireland']

Other names                 Ireland
ISO 3166-1 alpha-3 CODE         IRL
Population                  5034333
Continent                    Europe
Total Cases                 1471210
Total Deaths                   6786
Tot Cases//1M pop            292235
Tot Deaths/1M pop              1348
Death percentage           0.461253
Name: Ireland, dtype: object

In [12]:
covid.loc['Ireland']['Total Cases']

1471210

In [13]:
Laptop = pd.read_csv('Cleaned_Laptop_data.csv') #grouping by brand and processor_brand of Laptop for max latest_price

In [14]:
Laptop.head(10)

,brand,model,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,...,display_size,warranty,Touchscreen,msoffice,latest_price,old_price,discount,star_rating,ratings,reviews
0,ASUS,Celeron,Intel,Celeron Dual,Missing,4,DDR4,0,1024,Windows,...,15.6,1,No,No,23990,26990,11,3.8,15279,1947
1,ASUS,VivoBook,Intel,Core i3,10th,8,DDR4,512,0,Windows,...,15.6,1,No,No,37990,50990,25,4.3,990,108
2,ASUS,Vivobook,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,14.1,1,No,No,32890,46990,30,3.9,28,4
3,HP,Core,Intel,Core i3,11th,8,DDR4,512,0,Windows,...,15.6,1,No,Yes,42990,57330,25,4.4,158,18
4,HP,Core,Intel,Core i5,11th,8,DDR4,512,0,Windows,...,15.6,0,No,No,54990,70171,21,4.2,116,15
5,Lenovo,IdeaPad,Intel,Core i3,10th,8,DDR4,0,1024,Windows,...,15.6,1,No,Yes,35990,57290,37,4.0,2124,233
6,HP,15s,AMD,Ryzen 3,Missing,8,DDR4,256,1024,Windows,...,15.6,1,No,Yes,41999,48294,13,4.3,3524,432
7,ASUS,Core,Intel,Core i3,11th,4,DDR4,256,0,Windows,...,14,0,No,No,34429,49990,31,4.1,37,6
8,DELL,Vostro,Intel,Core i3,10th,8,DDR4,256,1024,Windows,...,15.6,1,No,Yes,41490,54782,24,5.0,7,5
9,Lenovo,IdeaPad,Intel,Core i3,10th,8,DDR4,256,0,Windows,...,15.6,2,No,Yes,37990,57990,34,4.3,2080,235

In [15]:
Laptop.head(20).groupby(['brand', 'processor_brand'])['latest_price'].agg([min, max])

                          min    max
brand  processor_brand
APPLE  Apple            85990  85990
ASUS   Intel            23990  37990
DELL   AMD              35990  35990
       Intel            41490  41490
HP     AMD              37990  57990
       Intel            39990  67990
Lenovo Intel            35990  52990